* {
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 207, 207);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Smythe', cursive;
    max-width: 500px;
    min-width: 400px;
    margin: 4em auto;
}

p, h1, h2, h3, h4, h6 {
    margin: 0 0 0.5em 0;
}

h6 {
    color: #8B8B8B;
    font-size: 10px;
}

i {
    border: none;
    background-color: white;
    cursor: pointer;
}

nav, main {
    background-color: white;
}


/* Nav Section */

.cover-img {
    background-image: url("images/cover.png");
    background-size: cover;
    width: 100%;
    height: 150px;
    margin: 0;
    color: white;
    padding: 2.5em 3.5em;
}

/* Main Section */

.main {
    padding: 1em 3.5em;
    position: relative;
}

.container {
    width: 100%;
    margin: 2.5em auto 2.5em;
}

.img-box {
    margin-right: 0.1em;
    width: 0.5em;

}

.food-details {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 2.5em;
    border-bottom: 1px solid grey;
    padding-bottom: 2em;
}

.food-info {
    display: flex;
    flex-direction: column;
}



/* Order Section */

.order-display {
    display: none;
}

.order-details {
    text-align: center;
}

.order-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.remove {
    color: red;
    font-size: 12px;
    margin-left: 1.5em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(27, 27, 27);
    padding-bottom: 2em;
}

.btn {
    padding: 1em 2.5em;
    width: 100%;
    background-color: #16DB99;
    border: #16DB99;
    color: white;
    cursor: pointer;
}

.add-btn {
    border: none;
    background-color: white;
}

/* Payment Card */

#payment-display {
    display: none;
}

input {
    width: 100%;
    line-height: 2.5em;
    margin-bottom: 1.5em;
    padding: 0.5em 1.5em;
}

.payment {
    padding: 1em 2.5em;
    text-align: center;
    position: absolute;
    width: 80%;
    height: 380px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: white;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
}

.complete { 
    display: none;
    color: #065F46;
    margin-bottom: 4em;
    background-color: #ECFDF5;
    padding: 2.5em;
    text-align: center;
}



/* Button clicks effects */
i:hover {
    opacity: 0.6;
}


i:active {
    color: #0e4737;
    opacity: 100%;
}

.btn:hover{
opacity: 0.5;
}

.btn:active {
    padding: 1em 2.5em;
    width: 100%;
    background-color: white;
    border: 1px solid #0e4737;
    color: #0e4737;
    cursor: pointer;
}


.remove:active {
    color: #a10707;
}


